.arenaHeroSection{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../../../../assets/events/auctionArena/heroBG.svg') center no-repeat;
    background-size: cover;
    position: relative;
    mix-blend-mode: hard-light;
    .heroTitle{
        max-width: 40vw;
        font-weight: 900;
        font-size: 10.2rem;
        letter-spacing: 0.2rem;
        background: linear-gradient(180deg, #FFFFFF 62.06%, rgba(255, 255, 255, 0.07) 147.1%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        padding: 2rem 5rem;
    }
    .heroRegister{
        position: absolute;
        font-size: 1.8rem;
        bottom: 1.2rem;
        left: 2rem;
    }
}
@media(max-width:780px){
    .arenaHeroSection{
        .heroTitle{
            max-width: unset;
            text-align: center;
        }
        .heroRegister{
            bottom: 7rem;
            left: 50%;
            transform: translate(-50%);
        }
    }
}
@media(max-width:360px){
    .arenaHeroSection{
        .heroTitle{
            font-size: 7.8rem;
        }
    }
}