// Teams Section - Home

.teamSection{
    position: relative;
    overflow: hidden;
    .teamsHeading{
        font-style: normal;
        font-weight: 300;
        font-size: 7rem;
        width: fit-content;
        margin: 15rem 10rem 5rem;

        background: linear-gradient(89.46deg, #FF005C 3.8%, #FF007A 30.48%, #FF00E5 55.43%, #DB00FF 85.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .teamsCards{
        display: flex;
        margin: 10rem 0;
        gap: 9rem;
        justify-content: center;
        .teamsCard{
            height: 38rem;
            width: 30rem;
            background: rgba(255, 255, 255, 0.045);
            border-radius: 2rem;
            position: relative;
            .coin{
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                height: 12rem;
                width: 12rem;
            }
            .bitcoin{
                background-image: url(../../../assets/home/bitcoin.svg);
                right: -4rem;
                top: -4rem;
            }
            .eth{
                background-image: url(../../../assets/home/eth.svg);
                bottom: -7rem;
                left: -4rem;
                height: 16rem;
                width: 16rem;
            }
            .rupees{
                background-image: url(../../../assets/home/rupees.svg);
                top: -6rem;
                right: -7rem;
            }
        }
    }

    .blob{
        position: absolute;
        width: 35rem;
        height: 35rem;
        right: -18rem;
        bottom: -25rem;

        background: linear-gradient(180deg, #3300FF 0%, #B600F7 100%);
        filter: blur(18rem);
    }
}

@media(max-width:700px){
    .teamSection{
        .teamsCards{
            flex-direction: column;
            align-items: center;

            .teamsCard{
                width: 38rem;
                height: 30rem;
            }
        }
    }
}