.webTeamSection{
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-content: center;
    background: url('../../../assets/teams/webBG.svg') no-repeat;
    background-size: cover;
    background-position: center;
    .heading{
        font-family: 'Inter';
        font-weight: 300;
        font-size: 6.2rem;
        background: linear-gradient(90deg, #FF9FB8 0%, #D001E3 44%, #3A33C5 92.5%);
        width: fit-content;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .members{
        width: 90%;
        min-height: 70vh;
        display: flex;
        background-position: center;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        .member{
            display: grid;
            justify-items: center;
            width: 19rem;
            height: 35rem;
            padding: 4rem;
            border-radius: 18.5rem;
            background: linear-gradient(220deg, #5A1EDB 0%, #03119F 18%, #160621 55.2%, #4E1F7E 91.5%);
            backdrop-filter: blur(12.5px);
            text-align: center;
            img{
                height: 15rem;
                width: 15rem;
                object-fit: cover;
                border-radius: 50%;
                filter: drop-shadow(2.8rem 0.3rem 3rem rgba(0, 0, 0, 0.5));
            }
            h3{
                font-family: 'Javanese Text';
                font-weight: 400;
                font-size: 2.8rem;
            }
            p{
                font-family: 'Inter';
                font-weight: 300;
                font-size: 1.2rem;
            }
        }
    }
}
@media(max-width:760px){
    .webTeamSection{
        text-align: center;
        .members{
            margin-top: 2rem;
            flex-wrap: wrap;
        }
    }
}
@media(max-width:380px){
    .webTeamSection{
        .members{
            width: 98%;
            .member{
                width: 17rem;
                height: 31rem;
            }
        }
    }
}